$primary   = rgb(50,38,138)
$secondary = rgb(111,35,150)
$accent    = rgb(0,142,139)
$dark      = rgb(0,84,68)
$grey      = rgb(105,105,105)

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$code-bkg  = rgb(0,0,0)

@import '~quasar-variables-styl'